<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://api.lorem.space/image/movie?w=1280&amp;amp;amp;amp;h=720" alt="temporário">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet consectetur.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fa-solid fa-user"></i>
            Layla Adryellen
        </span>
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-days"></i>
            06/09/2022
        </span>
        <span class="recipe-author-item">
            <a href="/">
                <i class="fa-solid fa-layer-group"></i>
                Café da Manhã
            </a>
        </span>
    </div>

    <div class="recipe-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga voluptatum quaerat, molestiae quo
        provident, reiciendis sunt, at quae ullam voluptatibus nesciunt ipsam repellendus labore minus
        deserunt perspiciatis neque totam.
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a href="/" class="recipe-read-more button button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>